.greet ~ p {/*Находим все элементы p, которые имеют общий
  род элемент c классом .greet*/
  background-color: lightgrey;
}
h2 ~ button{
  color: aquamarine;
  background-color: blueviolet;
  margin: 10px;
}
